<launch>

      <node pkg="RC_controller"
            type="sign_reader.py"
            name="sign_reader" 
            output="screen">
      </node>

   	<node pkg="RC_controller"
         type="clue_publisher.py"
         name="clue_publisher" 
         output="screen">
      </node>

	<node pkg="RC_controller"
         type="clue_verification.py"
         name="clue_verification" 
         output="screen">
      </node>

   	<node pkg="RC_controller"
         type="ocr.py"
         name="ocr" 
         output="screen">
      </node>

   
</launch>
